/* HEADER */

.logo-container {
    top: 20px;
    left: 30px;
}

.logo {
    width: 100px;
}

.header-title {
    font-family: Anton;
    color: rgba(255, 209, 91,1);
    font-size: 15px;
    margin: 28px 0 16px;
}

.input-container {
    background-color: white;
}

.search-recipes {
    color: rgba(122, 122, 122, 1);
    font-family: Manrope;
    font-size: 10px;
    padding: 0 15px;
}

.search-recipes::placeholder {
    font-family: Manrope;
    font-size: 10px;
    color: rgba(122, 122, 122, 1);
}

.search-recipes:focus-visible {
    outline: none;
}

.clear-button-header {
    background-color: white;
    visibility: hidden;
}

.xmark-header {
    color: rgba(122, 122, 122, 1);
}

.glass-button-header {
    background-color: black;
    margin: 5px;
    width: 30px;
    height: 30px;
    transition: 0.3s;
}

.glass-button-header:hover {
    background-color: rgba(255, 209, 91,1);
}

.glass-header {
    color: white;
    transition: 0.3s;
}

.glass-button-header:hover .glass-header {
    color: black;
}

/* FILTERS */

.select-label {
    background-color: white;
    padding: 17px;
}

.select-label span:first-child {
    font-family: Manrope;
}

.arrow-rotate{
    transform: rotate(180deg);
}

.total-recipes {
    font-family: Anton;
}

/* CARDS */