@media (min-width: 768px) {

    /* HEADER */

    .logo-container {
        top: 40px;
        left: 50px;
    }

    .logo {
        width: 175px;
    }

    .header-title {
        font-size: 30px;
        margin-bottom: 35px;
    }

    .search-recipes {
        font-size: 14px;
        padding: 0 25px;
    }

    .search-recipes::placeholder {
        font-size: 14px;
    }

    .fa-xmark {
        font-size: 23px;
    }

    .glass-button {
        margin: 8px 8px 8px 12px;
        width: 40px;
        height: 40px;
    }

    /* FILTERS */

    /* CARDS */

}